CUDA_VISIBLE_DEVICES=0 python inference-sample-error-analysis.py \
    --model_checkpoint_path="../model/multilstmmemory1024_moe4_deep_chain/model.ckpt-133508" \
    --output_file="../model/multilstmmemory1024_moe4_deep_chain/error-analysis.tsv" \
    --input_data_pattern="/Youtube-8M/data/frame/train_samples/train1*.tfrecord" \
    --frame_features=True \
    --feature_names="rgb,audio" \
    --feature_sizes="1024,128" \
    --batch_size=128

python training_utils/human_readable_error_analysis.py \
    --input_error_analysis_file="../model/multilstmmemory1024_moe4_deep_chain/error-analysis.tsv" \
    --output_error_analysis_file="../model/multilstmmemory1024_moe4_deep_chain/error-analysis-human.csv" \
    --label_names_file="resources/label_names.csv"
